<div class="container">

<div class="card shadow rounded">
    <div class="card-header shadow rounded">
      <h3>New User</h3>
    </div>
    <form>
    <div class="card-body">
    <div class="row">
        <div class="col">
          <label for="name">Name</label>
          <input [(ngModel)]="user.name" type="text" name="name" id="name" />
        </div>
        <div class="col">
          <label for="mobile">Mobile</label>
          <input [(ngModel)]="user.mobile" type="text" name="mobile" id="mobile" />
        </div>
        <div class="col">
          <label for="userName">User Name</label>
          <input [(ngModel)]="user.userName" type="text" name="userName" id="userName" />
        </div>
        <div class="col">
          <label for="password">Password</label>
          <input [(ngModel)]="user.password" type="password" name="password" id="password" />
        </div>
      </div>
        </div>
        </form>
        <div class="card-footer">
          <div class="row float-right">
              <button type="button" class="btn btn-outline-success" (click)="save(user)">Save
                </button>
          </div>

        </div>
      </div>
</div>
