<div class="row">
  <div class=" col card shadow rounded">
      <div class="card-header">
       <h3> Last Month Total</h3>
      </div>
      <div class="card-body">
        <h2>{{lastMonthTotal}}</h2>
</div>
</div>
  <div class=" col card shadow rounded">
      <div class="card-header">
       <h3> This Month Total</h3>
      </div>
      <div class="card-body">
        <h2>{{thisMonthTotal}}</h2>
</div>
</div>
  <div class=" col card shadow rounded">
      <div class="card-header">
       <h3>Grand Total</h3>
      </div>
      <div class="card-body">
        <h2>{{grandTotal}}</h2>
</div>
</div>

</div>
